<!-- BUILD IT FROM HERE https://getbootstrap.com/docs/5.3/components/card/#sizing -->
<div class="container">
    <h3>Presupuesto Prueba#1</h3>
    <p>Cajas necesarias: <b>{{caja}}</b></p>
    @for (z of zones | keyvalue; track $index) {
        <p>{{z.value | uppercase}}</p>
        @for (item of budget.module; track $index) {
            @if(item.zone === z.value){
                <p>
                    {{item.moduletype.name}} ({{item.moduletype.slots }}) - $ {{item.moduletype.price}}
                </p>
            }
        }
    }
    
 <p>Total Cotizacion: <b>{{total | currency}}</b></p> 

 <a routerLink="/list" >volver</a>
</div>